<h2>
   Add Employee
</h2>

<form  style="border: 3px solid black;" id="form"  (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-group">
        <label for="">Id</label>
        <input type="text" class="form-control" [ngModel]="employee.id" name="id">
    </div>
    <div class="form-group">
        <label for="">Name</label>
        <input type="text" class="form-control" [ngModel]="employee.name" name="name">
    </div>
    <div class="form-group">
        <label for="">Phone</label>
        <input type="text" class="form-control" [ngModel]="employee.phone" name="phone">
    </div>
    <div class="form-group">
        <button type="submit">Save</button>
        
    </div>
</form>
